pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1
xgboost==2.0.3
spacy==3.7.2
language-tool-python==2.7.1
autocorrect==2.6.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# py -3.11 -m pip install -r requirements.txt
# py -3.11 chat_bot.py